body{
    background-image: url(../images/bkk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-md{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    margin-top: 70px;
    gap: 20px;
    justify-content: center;
   
}
.container-md .card {
    box-shadow: 0px 0px 12px black;
    border-radius: 10px;
    overflow: hidden;
    border: none;
}
.container-md .card:hover{
    animation: up 0.9s linear forwards;
}

@keyframes up {
0%{
    transform: translateY(0);
} 50% {
    transform: translateY(-10px);
}100%{
    transform: translateY(-10px);
}
}